.Contact {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    color: #333;
  }
  
  a {
    color: #61dafb;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  